// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins{
    margin: 0 auto;
}

.box{
    margin: 3px;
    width: 260px;
}

.box img{
    width: 100%;
}

a:hover img {
filter: alpha(opacity=80);
-moz-opacity:0.80;
opacity:0.80;
}